@font-face {
    font-family: "Heebo-Medium";
    src: url("./Heebo-Medium.ttf") format("truetype");
  }

body {
    display: flex;
    background-color: #c5c5c5;
}

.btn-test {
    font-family: "Heebo-Medium";
    text-decoration: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10.5px;
    letter-spacing: .2px;
    border: none;
    border-radius: 14px;
    background-color: red;
    color: #FFF;
    padding: 3px 8px;  
    
}

svg {
    margin-left: 5px;
}

.cls-1, .cls-2, .cls-4 {
    fill: none;
  }

  .cls-1, .cls-2 {
    stroke: #fff;
  }

  .cls-2 {
    stroke-linecap: round;
    stroke-width: 1.5px;
  }

  .cls-3 {
    stroke: none;
  }